/* Breakpoints */

@mixin tablet {
  @media (min-width: 1025px) {
    @content;
  }
}

/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  font-family: 'Kelly Slab';
}

.container {
  margin: 0 auto;
  padding: 0 2vw;
}

/* Header */

.header {
  text-align: center;
  background-color: #ef5350;
  padding: 1vw;
  width: 90vw;
  margin: 10vw auto;
  border-radius: 30px;
  position: relative;

  @include tablet {
    padding: 2rem;
    width: 768px;
    margin: 1rem auto;
    border-radius: 30px;
  }

  &--title {
    color: #feca1b;
    font-size: 10vw;
    font-family: bangers;

    @include tablet {
      font-size: 5rem;
    }
  }

  &--subtitle {
    font-size: 4vw;
    color: white;

    @include tablet {
      font-size: 2rem;
    }
  }

  .spell-better {
    position: absolute;
    font-size: 8vw;
    text-align: center;
    z-index: 1;
    width: 100%;
    top: 10vw;
    animation: slamAndShake 1s ease-in forwards;

    @include tablet {
      font-size: 6rem;
      width: 100%;
      top: 80px;
    }
  }
}

.vs-column {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 170px;
  }

  &--vs {
    font-size: 5vw;
    position: relative;
    top: 50vw;

    @include tablet {
      font-size: 5rem;
      top: 360px;
    }
  }
}

/* SearchField Component */

.pokemon-column {
  width: 30vw;

  @include tablet {
    width: 300px;
  }
}

.search-fields {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .search-field {
    display: flex;
    flex-direction: column;
    position: relative;

    &--label {
      margin-bottom: 0.5rem;
      font-size: 3.5vw;
      text-align: center;

      @include tablet {
        font-size: 2rem;
      }
    }

    &--input {
      line-height: 3.5vw;
      font-size: 2vw;
      padding: 0.8vw 2vw;
      width: 100%;

      border-radius: 10px;
      border: 2px solid grey;

      @include tablet {
        line-height: 2rem;
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
      }

      &:disabled {
        background-color: #fff;
        border: 2px solid grey;
        color: #000;
      }

      &:focus {
        outline: none;
      }
    }

    &--reset-button {
      position: absolute;
      top: 6vw;
      right: 1vw;
      width: 6vw;
      border: none;
      display: block;
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      background: #ef5350;
      box-shadow: 0px 5px 0px #b83f3d;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1.5vw;
      font-family: 'Kelly Slab';
      user-select: none;
      z-index: 999;

      @include tablet {
        top: 59px;
        right: 10px;
        width: 60px;
        font-size: 1rem;
      }

      &:hover {
        top: 6.5vw;
        background-color: #ed6a67;
        box-shadow: 0px 2px 0px #b83f3d;
        cursor: pointer;

        @include tablet {
          top: 62px;
        }
      }

      &:focus {
        outline: none;
      }

      &:active {
        top: 6.7vw;
        box-shadow: none;

        @include tablet {
          top: 64px;
        }
      }
    }

    &--button {
      margin-top: 1.5vw;
      border: none;
      display: block;
      padding: 2vw 3vw;
      position: relative;
      border-radius: 10px;
      text-align: center;
      background: #71b0db;
      box-shadow: 0px 5px 0px #1c88c9;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 2.5vw;
      cursor: pointer;
      z-index: 999;

      @include tablet {
        margin-top: 1rem;
        padding: 1.3rem 1.5rem;
        font-size: 1.5rem;
      }

      &:hover {
        top: 0.5vw;
        background-color: #81b8de;
        box-shadow: 0px 2px 0px #1c88c9;

        @include tablet {
          top: 5px;
        }
      }

      &:focus {
        outline: none;
      }

      &:active {
        top: 0.8vw;
        box-shadow: none;

        @include tablet {
          top: 8px;
        }
      }
    }
  }
}

.pokeball-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .pokeball {
    width: 35vw;
    margin-top: 16vw;

    @include tablet {
      width: 350px;
      margin-top: 40px;
    }

    &--loading {
      animation: wobble 0.1s linear infinite;
    }
  }

  .secret-randomizer {
    height: 5vw;
    width: 5vw;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 60.5%;
    right: 41.5%;
    border-radius: 50%;
    cursor: pointer;

    @include tablet {
      height: 60px;
      width: 60px;
      top: 185px;
      right: 120px;
    }

    &:focus {
      outline: none;
    }
  }
}

// PokemonStats Component

.card {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  max-width: 30vw;
  animation: fadeIn 0.2s ease-in forwards;

  @include tablet {
    margin-top: 2rem;
    max-width: 300px;
  }

  &--head,
  &--body,
  &--foot {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 1vw;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);

    @include tablet {
      margin-top: 1rem;
    }
  }

  &--head {
    padding: 2vw 3vw;

    @include tablet {
      padding: 1rem 2rem;
    }
  }

  &--number {
    font-size: 3vw;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &--name {
    font-size: 4vw;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  &--body {
    display: flex;
    justify-content: center;
  }

  &--sprite {
    display: block;
    width: 70%;
    height: 100%;
  }

  &--foot {
    display: flex;
    justify-content: center;
  }

  &--type {
    font-size: 2.2vw;
    margin: 2vw 2vw;
    padding: 1vw 2vw;
    border-radius: 5px;

    @include tablet {
      font-size: 1rem;
      margin: 0.7rem 1rem;
      padding: 0.5rem 1rem;
    }
  }

  &.super-effective {
    &--bang {
      position: relative;
    }

    &--bang:before {
      content: '';
      background-image: url('./images/bang-red.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -0%;
      right: -90%;
      z-index: -2;
      height: 50vw;
      width: 85vw;
      opacity: 0.5;
      filter: blur(10px);
      animation: superEffective 1s infinite linear;

      @include tablet {
        right: -80px;
        height: 460px;
        width: 500px;
      }
    }

    &--bang:after {
      content: '';
      background-image: url('./images/bang-yellow.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -23vw;
      z-index: -1;
      height: 47vw;
      width: 80vw;
      opacity: 0.5;
      filter: blur(10px);
      animation: superEffective 0.9s infinite linear;

      @include tablet {
        top: 10px;
        right: -80px;
        height: 430px;
        width: 480px;
      }
    }
  }

  .super-effective--text {
    font-size: 4vw;
    position: relative;
    top: 10vw;
    right: 25%;
    width: 150%;
    text-align: center;
    transform: rotate(-10deg);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;

    @include tablet {
      font-size: 4rem;
      top: 50px;
      right: 190px;
      width: 700px;
    }
  }
}

@keyframes superEffective {
  0% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-10deg);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-10deg);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0) rotate(-10deg);
  }
}

@keyframes slamAndShake {
  0% {
    opacity: 0;
    transform: scale(3) rotate(-10deg);
  }

  10% {
    opacity: 1;
    transform: scale(1) translate3d(-1px, 0, 0) rotate(-10deg);
  }

  90% {
    transform: translate3d(-1px, 0, 0) rotate(-10deg);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-10deg);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0) rotate(-10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

// DEBUG

// @import '../src/debug.css';
