/* General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 8rem;
}

/* Header */

.header {
  text-align: center;
}

.header--title {
  margin: 1rem 0;
}

/* SearchField Component */

.search-fields {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.search-field {
  display: flex;
  flex-direction: column;
}

.search-field--label {
  margin-bottom: 0.5rem;
}

.search-field--input {
  line-height: 1.4rem;
  width: 300px;
}
