/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #eaeaea;
  font-family: 'Kelly Slab'; }

.container {
  margin: 0 auto;
  padding: 0 8rem; }

/* Header */
.header {
  text-align: center;
  background-color: #ef5350;
  padding: 2rem;
  width: 800px;
  margin: 3rem auto;
  border-radius: 30px; }
  .header--title {
    color: #feca1b;
    font-size: 4rem;
    font-family: bangers; }
  .header--subtitle {
    font-size: 2rem;
    color: white; }

.vs-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .vs-column--reset-button {
    margin-top: 107px;
    border: none;
    display: block;
    padding: 20px 30px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    background: #ef5350;
    box-shadow: 0px 5px 0px #b83f3d;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; }
    .vs-column--reset-button:hover {
      top: 3px;
      background-color: #ed6a67;
      box-shadow: 0px 2px 0px #b83f3d; }
    .vs-column--reset-button:focus {
      outline: none; }
    .vs-column--reset-button:active {
      top: 5px;
      box-shadow: none; }
  .vs-column--vs {
    font-size: 4rem;
    margin-top: 15rem; }

/* SearchField Component */
.pokemon-column .pokeball {
  width: 320px;
  margin-top: 7rem; }

.search-fields {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .search-fields .search-field {
    display: flex;
    flex-direction: column; }
    .search-fields .search-field--label {
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
      text-align: center; }
    .search-fields .search-field--input {
      line-height: 1.8rem;
      font-size: 1.2rem;
      padding: 0.6rem 1rem;
      width: 320px;
      border-radius: 10px; }
      .search-fields .search-field--input:focus {
        outline: none; }
    .search-fields .search-field--button {
      margin-top: 0.8rem;
      border: none;
      display: block;
      padding: 20px 30px;
      position: relative;
      border-radius: 10px;
      text-align: center;
      background: #71b0db;
      box-shadow: 0px 5px 0px #1c88c9;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem; }
      .search-fields .search-field--button:hover {
        top: 3px;
        background-color: #81b8de;
        box-shadow: 0px 2px 0px #1c88c9; }
      .search-fields .search-field--button:focus {
        outline: none; }
      .search-fields .search-field--button:active {
        top: 5px;
        box-shadow: none; }

.card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem; }
  .card--head, .card--body, .card--foot {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0.5rem;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1); }
  .card--head {
    padding: 1rem 1.5rem; }
  .card--number {
    font-size: 2rem; }
  .card--name {
    font-size: 3rem; }
  .card--body {
    display: flex;
    justify-content: center; }
  .card--sprite {
    display: block;
    width: 70%;
    height: auto; }
  .card--foot {
    display: flex;
    justify-content: center; }
  .card--type {
    font-size: 1.5rem;
    margin: 1rem 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px; }

/*# sourceMappingURL=index.css.map */
