/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #eaeaea;
  font-family: 'Kelly Slab'; }

.container {
  margin: 0 auto;
  padding: 0 8rem; }

/* Header */
.header {
  text-align: center;
  background-color: #ef5350;
  padding: 2rem;
  width: 800px;
  margin: 3rem auto;
  border-radius: 30px; }
  .header--title {
    color: #feca1b;
    font-size: 4rem;
    font-family: bangers; }
  .header--subtitle {
    font-size: 2rem;
    color: white; }

.vs-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .vs-column--vs {
    font-size: 4rem;
    position: relative;
    top: 400px; }

/* SearchField Component */
.search-fields {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .search-fields .search-field {
    display: flex;
    flex-direction: column;
    position: relative; }
    .search-fields .search-field--label {
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
      text-align: center; }
    .search-fields .search-field--input {
      line-height: 1.8rem;
      font-size: 1.2rem;
      padding: 0.6rem 1rem;
      width: 320px;
      border-radius: 10px; }
      .search-fields .search-field--input:focus {
        outline: none; }
    .search-fields .search-field--reset-button {
      position: absolute;
      top: 50px;
      right: 10px;
      width: 60px;
      border: none;
      display: block;
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      background: #ef5350;
      box-shadow: 0px 5px 0px #b83f3d;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      font-family: 'Kelly Slab';
      user-select: none;
      z-index: 999; }
      .search-fields .search-field--reset-button:hover {
        top: 53px;
        background-color: #ed6a67;
        box-shadow: 0px 2px 0px #b83f3d;
        cursor: pointer; }
      .search-fields .search-field--reset-button:focus {
        outline: none; }
      .search-fields .search-field--reset-button:active {
        top: 55px;
        box-shadow: none; }
    .search-fields .search-field--button {
      margin-top: 0.8rem;
      border: none;
      display: block;
      padding: 20px 30px;
      position: relative;
      border-radius: 10px;
      text-align: center;
      background: #71b0db;
      box-shadow: 0px 5px 0px #1c88c9;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
      cursor: pointer;
      z-index: 999; }
      .search-fields .search-field--button:hover {
        top: 3px;
        background-color: #81b8de;
        box-shadow: 0px 2px 0px #1c88c9; }
      .search-fields .search-field--button:focus {
        outline: none; }
      .search-fields .search-field--button:active {
        top: 5px;
        box-shadow: none; }

.pokeball-container {
  position: relative; }
  .pokeball-container .pokeball {
    width: 320px;
    margin-top: 7rem; }
  .pokeball-container .secret-randomizer {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 247px;
    right: 135px;
    border-radius: 25px;
    cursor: pointer; }
    .pokeball-container .secret-randomizer:focus {
      outline: none; }

.card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 320px;
  animation: fadeIn 0.2s ease-in forwards; }
  .card--head, .card--body, .card--foot {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0.5rem;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1); }
  .card--head {
    padding: 1rem 1.5rem; }
  .card--number {
    font-size: 2rem; }
  .card--name {
    font-size: 3rem; }
  .card--body {
    display: flex;
    justify-content: center; }
  .card--sprite {
    display: block;
    width: 70%;
    height: auto; }
  .card--foot {
    display: flex;
    justify-content: center; }
  .card--type {
    font-size: 1.5rem;
    margin: 1rem 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px; }
  .card.super-effective--bang {
    position: relative; }
  .card.super-effective--bang:before {
    content: '';
    background-image: url("./images/bang-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -55px;
    right: -120px;
    z-index: -2;
    height: 600px;
    width: 600px;
    opacity: 0.5;
    filter: blur(10px);
    animation: superEffective 1s infinite linear; }
  .card.super-effective--bang:after {
    content: '';
    background-image: url("./images/bang-yellow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -75px;
    z-index: -1;
    height: 500px;
    width: 500px;
    opacity: 0.5;
    filter: blur(10px);
    animation: superEffective 0.9s infinite linear; }
  .card .super-effective--text {
    font-size: 3rem;
    position: relative;
    top: 90px;
    right: 25%;
    width: 150%;
    text-align: center;
    transform: rotate(-10deg);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite; }

@keyframes superEffective {
  0% {
    transform: scale(0.9); }
  10% {
    transform: scale(1.1); }
  20% {
    transform: scale(0.9); }
  30% {
    transform: scale(1.1); }
  40% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); }
  60% {
    transform: scale(0.9); }
  70% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.9); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-10deg); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(-10deg); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-10deg); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0) rotate(-10deg); } }

/*# sourceMappingURL=index.css.map */
